<?xml version='1.0' ?>

<launch>
  <arg name="use_ignition" default="0"/>
  <arg name="gazebo_version" default="11"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="failover_mode" default="false"/>

  <!-- Common launch -->
  <include file="$(find-pkg-share rmf_demos)/common.launch.xml">
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
    <!-- <arg name="viz_config_file" value ="$(find-pkg-share rmf_demos)/include/office/office.rviz"/> -->
    <arg name="config_file" value="$(find-pkg-share decadarobotics_rmf_demos_maps)/mbc/mbc.building.yaml"/>
    <!-- <arg name="dashboard_config_file" value="$(find-pkg-share rmf_demos_dashboard_resources)/office/dashboard_config.json"/> -->
  </include>

  <!-- Simulation launch -->
  <include file="$(find-pkg-share rmf_demos)/simulation.launch.xml">
    <arg name="map_name" value="mbc" />
    <arg name="map_package" value="decadarobotics_rmf_demos_maps" />
    <arg name="use_ignition" value="$(var use_ignition)" />
    <arg name="gazebo_version" value="$(var gazebo_version)" />
  </include>

</launch>